.project
.DS_Store
*.sublime-workspace
*.sublime-project
db/build/conf/datawrapper-conf.php
db/build/conf/classmap-datawrapper-conf.php
charts/data/*
charts/images/*
charts/static/*
charts/exports/*
config.php
config.yaml
scripts/history.php
fabfile.py*
archive.tar
*.log
templates/plugins/*
www/static/vendor/d3js/d3.scale.js
www/static/custom/*
test/result/*
crowdin.yaml
log.txt
dw.js/dist/*
www/static/js/dw-2.0.min.js
www/static/js/vendors.min.js
www/static/css/**/*.min.css
vendor/*
node_modules/*
scripts/lib/execute_jobs.lock
scripts/execute_jobs.lock
